PORT=3000
WEBHOOK_CRIANCA=
WEBHOOK_MONITOR=
WEBHOOK_CADASTRO=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_TABLE_CADASTROS=
SUPABASE_TABLE_CRIANCA=musicalizacao_criancas
SUPABASE_TABLE_MONITOR=musicalizacao_monitores
REQUIRE_SUPABASE_DUPLICATE_CHECK=true

ENABLE_LOCAL_PERSISTENCE=false
REQUIRE_LOCAL_DUPLICATE_CHECK=false
